@model IEnumerable<ControleDeGastos.Models.Conta>

@{
    ViewData["Title"] = "View";
}

<p></p>
<h3>Contas do mês de Abril</h3>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                Tipo de Conta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                Descrição
            </th>
            <th>
               Morador
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoConta.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a asp-action="Atualizar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8">
                <p><span style="font-size: 18px"><b>Total: @Model.Sum(obj => obj.Valor).ToString("C2")</b></span></p>
            </td>
        </tr>
    </tfoot>
</table>

<p>
    <a asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>
</p>
