@model IEnumerable<ControleDeGastos.Models.Conta>

@{
    ViewData["Title"] = "Contas";
}

<br />
<h3>Contas do mês de @ViewData["Mes"]</h3>
<br />
<div class="row">
    <div class="col-md-3">
        <form class="form-horizontal" asp-action="ContasPorMes">
            <fieldset>
                <legend>Filtros</legend>
                <div class="form-group">
                    <label for="data" class="col-lg-2 control-label">Mês</label>
                    <div class="col-lg-10">
                        <input type="month" name="data" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<p><span style="font-size: 18px"><b>Total: @Model.Sum(obj => obj.Valor).ToString("C2")</b></span></p>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                Tipo de Conta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                Descrição
            </th>
            <th>
                Morador
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoConta.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar</a>
</p>
