@model IEnumerable<ControleDeGastos.Models.Conta>

@{
    ViewData["Title"] = "Contas";
}

<br />
<h2>Contas do mês de @ViewData["Mes"]</h2>
<br />


<form asp-action="ContasPorMes">
    <div class="row">
        <div class="col-12"><p>Filtrar por mês</p></div>
        <div class="col-3">
            <input type="month" name="data" class="form-control"/>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>
<br />
<p><span style="font-size: 18px"><b>Total: @Model.Sum(obj => obj.Valor).ToString("C2")</b></span></p>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                Tipo de Conta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                Descrição
            </th>
            <th>
                Morador
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoConta.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar</a>
</p>
